<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background:#20B2AA">
<div th:insert="HEADER"></div>

<a href="/registration" class="btn btn-success">Добавить пользователь</a>

<div class="container">
  <table class="table">
    <tr>
      <th align="center" style="color: floralwhite">Логин</th>
      <th style="color: floralwhite" align="center">Роли</th>
    </tr>
    <tr th:each="el : ${users}">
      <td style="color: floralwhite" th:text="${el.username}"></td>
      <td>
        <div th:each="role : ${el.roles}">
          <p style="color: floralwhite" th:text="${role}"></p>
        </div>
      </td>
      <td>
        <a class="btn btn-primary"
           th:href="'/admin/'+${el.id}">Подробнее...</a>
      </td>
    </tr>
  </table>
</div>

</body>
</html>