<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background:#20B2AA">
<div th:insert="HEADER"></div>
<div th:if="${#messages}">
  <p th:text="${message}"></p>
</div>
<h1 class="fst-italic" style="color:#FFFFFF" align="center">Регистрация</h1>
<form th:action="@{/registration}" method="post" >
  <div align="center"><label style="color:#FFFFFF"> Логин : <input type="text" style="text-align: center;margin-bottom: 20px" size="25" name="username"/> </label></div>
  <div align="center"><label style="color:#FFFFFF"> Пароль: <input type="password" style="text-align: center;margin-bottom: 20px" size="25"  name="password"/> </label></div>
  <div align="center"><button style="background: #FFC0CB; margin-bottom: 20px" type="submit" class="btn btn-del" value="Вход">Вход</button></div>
</form>
</body>
</html>
</body>
</html>